<app-eleccion></app-eleccion>

<div class="col-12 text-center mb-4">
        </div>
      


        <div class="col-12 text-center mb-4">
            
            <h1>¿Quienes somos?</h1>

        </div>

<div class="row">
    
    <div class="col-md-6">
        <h3>Conócenos...</h3>
        <p>En Restaurante Delicias Gourmet, nos dedicamos a ofrecer experiencias culinarias únicas y memorables. Nuestra pasión por la gastronomía nos impulsa a utilizar ingredientes frescos y de la más alta calidad, para crear platos que deleitan todos los sentidos. Con un equipo de chefs talentosos y creativos, nos especializamos en cocina fusión que combina lo mejor de diferentes culturas culinarias, resultando en sabores innovadores y sorprendentes. Nuestro objetivo es proporcionar a nuestros clientes una experiencia gastronómica excepcional, desde el primer bocado hasta el último, en un ambiente acogedor y sofisticado.						
    </p>
    </div>
    
    <div class="col-md-6">
        <h3>Ofrecemos...</h3>
        <p>Nuestra propuesta de valor se centra en ofrecer una cocina de alta calidad, preparada con ingredientes frescos y cuidadosamente seleccionados. Nos destacamos por nuestra atención personalizada, ambiente agradable y acogedor, y un menú variado que satisface los paladares más exigentes. Además, en Restaurante Delicias Gourmet ofrecemos servicios de catering para eventos especiales, garantizando una experiencia gastronómica de primera clase en cualquier ocasión. Ven y descubre una nueva forma de disfrutar la comida, donde cada detalle está pensado para hacerte sentir especial.

        </p>
    </div>
</div>

<button class="btn btn-secondary"(click)="cerrarSesion()">Cerrar sesion</button>

